* {
  box-sizing: border-box;
}

html {
  --color-primary-700: hsl(257, 40%, 49%);
  --color-secundary-300: hsl(300, 69%, 71%);

  --font-heading: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  left: 0;
  background-color: var(--color-primary-700);
  background-image: url("../images/bg-desktop.svg");
  /* background-position: center; */
  background-size: cover;
  color: white;
  font-family: var(--font-body);
}

header {
  padding: 5.3rem;
}

main ul {
  margin: auto;
  width: 95%;
}

main li {
  display: flex;
  height: 33rem;
}

/* main li img{
  width: 100%;
  height: 100%;
} */

#item-content {
  padding: 3rem 1rem 5rem 4rem;
}

#item-content h1 {
  font-family: var(--font-heading);
  font-weight: 600;
  font-size: 2.7rem;
  margin-top: 1rem;
}

#item-content p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

#btn {
  text-decoration: none;
  color: var(--color-primary-700);
  background-color: white;
  padding: 0.9rem 4rem;
  border-radius: 50px;
  font-size: 1.2rem;
  font-weight: 400;
  box-shadow: 1px 1px 8px rgb(92, 92, 92);
  transition: background-color, color 0.5s ease-out;
}

#btn:hover{
  background-color: var(--color-secundary-300);
  color: white;
}

#icons {
  margin: 5rem 5rem 15rem 0;
  /* margin-top: 1rem; */
  text-align: end;
  font-size: 1.2rem;
}

#icons i {
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 0.9rem;
  margin-left: 1rem;
  align-self: flex-end;
  transition: border-color, color 0.3s ease-out;
}

#icons i:hover{
  color: var(--color-secundary-300);
  border-color: var(--color-secundary-300);
}

.attribution {
  margin-top: 13rem;
  font-size: 1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 80rem ){
  main li{
    height: 29rem;
  }

  #icons{
    margin-top: 9rem;
  }
}

@media (max-width: 75rem ){
  main li{
    height: 25rem;
  }

  #icons{
    margin-top: 13rem;
  }
}

/* Portrait mode */
@media (max-width: 70rem ){

  body{
    background-image: url(../images/bg-mobile.svg);
  }

  header{
    padding: 1.5rem 1.5rem 3rem 1.5rem;
  }

  header img{
    height: 3rem;
  }

  main ul{
    margin: 0;
  }

  main li{
    height: 55rem;
    flex-direction: column;
  }

  main li img{
    width: 90%;
    margin: auto;
  }

  #item-content{
    text-align: center;
    padding: 2rem 1rem 1rem 1rem;
  }

  #item-content h1{
    font-size: 1.5rem;
  }

  #item-content p{
    font-size: 1.1rem;
  }

  #icons{
    margin: 5rem 0 0 0;
    text-align: center;
    font-size: 0.9rem;
  }

  .attribution{
    font-size: 0.7rem;
  }
}

@media (max-width: 70rem ){
  main li {
    height: 50rem;
  }
}

@media (max-width: 60rem ){
  main li {
    height: 45rem;
  }
}